@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

@font-face {
  font-family: "B612";
  font-display: swap;
  src: url(https://lewoof.xyz/assets/fonts/B612/B612-Regular.ttf);
}

@font-face {
  font-family: "B612 Mono";
  font-style: italic;
  font-display: swap;
  src: url(https://lewoof.xyz/assets/fonts/B612_Mono/B612Mono-Italic.ttf);
}

@font-face {
  font-family: "B612 Mono";
  font-display: swap;
  src: url(https://lewoof.xyz/assets/fonts/B612_Mono/B612Mono-Regular.ttf);
}


kbd {
  font-family: monospace !important;
}
a {
  @apply leading-none underline-offset-2 transition-colors duration-150 ease-in-out;
}
a:hover {
  @apply bg-green text-mirage-950 decoration-mirage-950;
}
