@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

kbd {
  font-family: monospace !important;
}
a {
  @apply leading-none underline-offset-2 transition-colors duration-150 ease-in-out;
}
a:hover {
  @apply bg-green text-mirage-950 decoration-mirage-950;
}
